.App {
    font-family: sans-serif;
    /* text-align: center; */
}
.drawingBuffer {
    display: none;
}

video {
    width: 100%;
    z-index: 0;
}
canvas {
    width: 80%;
}
.drawLine {
    z-index: 1;
    border: solid 4px;
    margin: 30% 100%;
}
